body{
  background-color: #2424bc; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #2424bc, #a9a9ef);
  background-attachment: fixed;
  color: white;
  font-family: Arial;
}

p{
  text-align: center;
}

#centered{
  text-align: center;
  margin: auto;
  width: 750px;
}

#centered-small{
  width: 250px;
  margin: auto;
  text-align: center;
}


@media only screen and (max-width: 650px){
  #centered{
    width: 350px;
  }
}

a{
  color: white;
}

a:visited{
  color: white;
}

li{
  list-style-type: none
}

h3{
  text-align: center;
}